body {
    background-size: cover;
    background-color: black;
    width: 95%;  
    max-width:95;
    align-content: center;
    height: auto;
    position: relative;
} p {
    text-align: center;
    color: whitesmoke;
} h1 {
    text-align: center;
    color: whitesmoke;
} div {
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%
} iframe {
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
} form {
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
} hr {
    width: 90%;
    align-self: center;
} header {
    width: 95%;
    text-align: center;
} footer {
    width: 95%;
    text-align: center;
} a {
    color: whitesmoke
} ul {
    text-align: center;
    color: whitesmoke;
    width: 90%;
}