body {
    background-size: cover;
    background-color: black;
    width: 95%;  
    align-content: center;
    height: auto;
    position: relative;
} p {
    text-align: center;
    color: whitesmoke;
} h1 {
    text-align: center;
    color: whitesmoke;
} div {
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%
} iframe {
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
} form {
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
} hr {
    width: 90%;
    align-self: center;
} header {
    width: 95%;
    text-align: center;
} footer {
    width: 95%;
    text-align: center;
} a {
    color: whitesmoke;
} ul {
    color: whitesmoke;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-right: 16px;
    padding-left: 38px;
}::placeholder {
    color: dimgray;
} button {
    background-color: #555555;
    border: none;
    color: whitesmoke;
    padding: 6px 12px;
    margin: 4px 2px;
} :focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255,255 ,255, 0);
    -webkit-tap-highlight-color: transparent;
}